{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
    <h1>Entrer une nouvelle liste</h1>
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    <div class="text-right">
        <button type="submit" class="btn btn-info">
                Enregistrer
            </button>
        <a href="{{ path('listapp_todolist_index') }}" class="btn btn-outline-secondary">
                Retour
            </a>
    </div>

    {{ form_end(form) }}
</div>
{% endblock %}